:root {
    --paddingL: 20px;
    --paddingM: 15px;
    --paddingS: 10px;
    --border: 2px solid black;
    --testColor: rgba(100,100,100,0.4);
}
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
/*general*/
body {
    min-height: 100vh;
    background-color: var(--testColor);
    display: flex;
    justify-content: center;
}
#site {
    background-color: var(--testColor);
}
header {
    display: flex;
    background-color: var(--testColor);
    border: var(--border);
    align-content: space-between;
    #menu {
        text-align: center;
    }
}
#content {
    background-color: var(--testColor);
}
footer {
    background-color: var(--testColor);
    display: flex;
    justify-content: space-around;
    border: var(--border);
}

.logo {
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 20px;}
.galery {
    display: flex;
}
.img {
    border-radius: 10%;
    background-color: var(--testColor);
    display: flex;
    ul{
        .title{
            font-weight: bolder;
        }
        li{
            text-align: center;
        }
    }
}
/*desktop*/
@media only screen and (min-width: 1300px) {
    #site {
        padding: var(--paddingL);
        width: 75%;
    }
    header {
        padding: var(--paddingL);
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        #menu {
            padding: var(--paddingL);
        }
    }
    #content {
        padding: var(--paddingL);
    }
    footer {
        padding: var(--paddingL);
    }

    .logo {
        width: 200px;
    }
    .galery {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .img {
        flex-flow: column;
        padding: var(--paddingL);
        width: 200px;
        img {
            width: 100%;
        }
    }
}
/*phone*/
@media only screen  and (max-width: 599px)  {
    #site {
        padding: var(--paddingS);
        width: 90%;
    }
    header {
        padding: var(--paddingS);
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        #menu {
            padding: var(--paddingS);
        }
    }
    #content {
        padding: var(--paddingS);
    }
    footer {
        padding: var(--paddingS);
    }

    .logo {
        width: 100%;
    }
    .galery {
        flex-flow: column;
        align-items: center;
    }
    .img {
        padding: var(--paddingS);
        width: 80%;
        img {
            padding: var(--paddingS);
            width: 50%;
        }
    }
}
/*tablet*/
@media only screen and (min-width: 600px) and ( max-width: 1299px){
    #site {
        padding: var(--paddingM);
        width: 90%;
    }
    header {
        padding: var(--paddingM);
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        #menu {
            padding: var(--paddingM);
        }
    }
    #content {
        padding: var(--paddingM);
    }
    footer {
        padding: var(--paddingM);
    }

    .logo {
        width: 50%;
    }
    .galery {
        flex-flow: column;
        align-items: center;
    }
    .img {
        padding: var(--paddingM);
        width: 80%;
        img {
            padding: var(--paddingM);
            width: 50%;
        }
    }
}